extends ../layout/common

block content    
    h1 Giỏ hàng của bạn!
    table.table 
        tr
            th Tên hàng
            th Giá(Đơn vị: VNĐ)
            th Số lượng
        each cart in carts
            tr
                td= cart.name
                td= cart.price 
                td= cart.quantity     
            
    
