extends ../layout/common

block content    
    h1 Xin chào bé #{name} !
    a.btn.btn-primary(href='/user') Danh sách thành viên
    span &nbsp;
    span &nbsp;
    a.btn.btn-primary(href='/product?page=1') Sản phẩm
    
