extends ../layout/common

block content
    h1 
        span.me-3 USERS
        a.btn.btn-primary(href="/user/create") New User
    form.d-flex.justify-content-end(action="/user/search", method="GET")
        input(type="text", name="q", placeholder="input name...", value=value)
        button.btn.btn-primary Search
    table.table
        tr
            th Name
            th Phone
            th Action
        each user in users
            tr    
                td= user.name
                td= user.phone
                td
                    a.btn.btn-success(href= "/user/" + user.id) View